.container{
    padding:8px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
}

.row{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
  }

footer{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
    text-align:center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
}